*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: orange;
}

.header{
    text-align: center;
    padding: 15px;
}

.link{
    text-align: center;
}

a.H{
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
    
}

.picture{
    padding: 50px;
    text-align: center;
}

#Myself {
    text-align: center;
}

#video{
    text-align: center;
    padding: 50px;
}

.video1{
    padding: 20px;
}

html{
    scroll-behavior: smooth;
}

#contact{
    text-align: center;
    margin: 50px;
}
