*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Introduce{
    color: rgb(255, 240, 124);
    background-color: rgb(90, 97, 104);
    padding: 10px;
    margin: 15px;
    border-radius: 30px;
}

#Myself{
    color: bisque;
}

body{
    background-image: url("/image/star.jpeg");

    
}

.header{
    text-align: center;
    padding: 10px;
    margin: 15px;
    color: rgb(0, 153, 255);
    background-color: aliceblue;
    border-radius: 30px;
}

.link{
    text-align: center;
}

a.H{
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
    
}

.picture{
    padding: 50px;
    text-align: center;
    
    
}

#Myself {
    text-align: center;
    
}

.name{
    margin: 15px;
}

#video{
    text-align: center;
    padding: 50px;
    color: rgb(255, 240, 124);
    
}

.video2{
    background-color: rgb(90, 97, 104);
    padding: 10px;
    margin: 15px;
    border-radius: 30px;
}

.video1{
    padding: 20px;
}

html{
    scroll-behavior: smooth;
}

#contact{
    text-align: center;
    margin: 50px;
    color: aliceblue;
}
